<launch>

  <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgb_odometry" args="--delete_db_on_start">
    <param name="Vis/FeatureType" value="2"/>
    <param name="Vis/MaxFeatures" value="2000"/>
    <param name="Vis/MinInliers" value="20"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_camera" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 base_link camera_link 100">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_scan" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 base_link base_scan 100">
  </node>

  <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap">
    <param name="RGBD/LinearUpdate" value="0"/>
    <param name="RGBD/AngularUpdate" value="0"/>
    <param name="Rtabmap/DetectionRate" value="5"/>
    <param name="Rtabmap/MemoryThr" value="100"/>
    <param name="Kp/DetectorStrategy" value="2"/>
    <param name="Kp/MaxFeatures" value="2000"/>
  </node> 

  <node pkg="tx2_fcnn_node" type="tx2_fcnn_node" name="tx2_fcnn_node">
    <param name="calib_file" value="usb_camera_calib.yaml"/>
  </node>

</launch>
